pipeline/Lego_Lookup.json
{
	"name": "Lego_Lookup",
	"properties": {
		"activities": [
			{
				"name": "Lookup Config Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASQL_lego_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lego_HTTP_to_ADLS_Themes",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Filter Active Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Lego_HTTP_to_ADLS_Themes",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FileName": {
							"value": "@activity('Filter Active Files').output.value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Filter Active Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup Config Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Config Table').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().IsActive, true)",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}